body{
background: black;
}
.homep{
width: 3%;
transform: translate(5%,20%);
border-radius: 100% 100% 100% 100%;
display: flex;
}

ul{
margin-left: 800px;
display: flex;
}
li{
display: inline-block;
}
h3{
color:  grey;
font-size: 25px;
font-weight: bold;
border-radius: 5px 5px 5px 5px;
padding: 2px 4px;
text-decoration: none;
letter-spacing: 2px;
margin-left: 20px;
margin-top: -1.5px;
transition: 0.5s;
}

#my_link_id{
margin-left: 20px;
color: grey;
font-size: 25px;
font-weight: bold;
background: transparent;
text-decoration: none;
letter-spacing: 2px;
border-radius: 5px 5px 5px 5px;
padding: 2px 4px;
transition: 0.4s;
}
#my_link_id:hover{
color: #16e0bf;
text-shadow: #16e0bf 0px 0px 5px,
              #16e0bf 0px 0px 10px,
              #16e0bf 0px 0px 15px;
background: grey;
font-size: 28px;
box-shadow: black 0px 0px 2px,
            black 0px 0px 4px,
            black 0px 0px 8px;
}

#my_Profile_id{
margin-left: 20px;
color: grey;
font-size: 25px;
font-weight: bold;
background: transparent;
border-radius: 5px 5px 5px 5px;
text-decoration: none;
padding: 2px 4px;
letter-spacing: 2px;
transition: 0.5s
}
#my_Profile_id:hover{
color: #16e0bf;
background: grey;
text-shadow: #16e0bf 0px 0px 5px,
              #16e0bf 0px 0px 10px,
              #16e0bf 0px 0px 15px;
font-size: 28px;
box-shadow: black 0px 0px 2px,
            black 0px 0px 4px,
            black 0px 0px 8px;
}

.home{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.home span{
  text-transform: uppercase;
  display: block;
}
.dj1{
  color: red;
  font-size: 60px;
  font-weight: 700;
  font-style: oblique;
  letter-spacing: 8px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px red,
               0 0 30px red,
               0 0 60px red;
  position: relative;
  background: black;
  animation: text 3s 1;
  display: flex;
}
.dj2{
  font-size: 30px;
  color: lightgreen;
  text-shadow: 0 0 10px lightgreen,
               0 0 30px lightgreen,
               0 0 60px lightgreen;
  font-style: oblique;
  display: flex;
}
@keyframes text {
  0%{
    color: black;
    text-shadow: 0 0 10px black,
               0 0 30px black,
               0 0 60px black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
h2{
  color: #16e0bf;
  font-size: 28px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,220%);
  letter-spacing: 2px;
  text-shadow:  #16e0bf 0px 0px 9px,
                #16e0bf 0px 0px 18px,
                #16e0bf 0px 0px 28px;
  animation: string 15s 1;
}
@keyframes string {
  0%{ 
    color: black;
    text-shadow: 0 0 10px black,
               0 0 30px black,
               0 0 60px black;
  }
  30%{
    color:  #16e0bf;
   text-shadow: #16e0bf 0px 0px 9px,
                #16e0bf 0px 0px 18px,
                #16e0bf 0px 0px 28px;
  }
  85%{
  color: #16e0bf;
  text-shadow:  #16e0bf 0px 0px 9px,
                #16e0bf 0px 0px 18px,
                #16e0bf 0px 0px 28px;
  }
}
.images{
width: 170px;
height: 120px;
margin-left: 740px;
transform: translate(-50%,400%);
display: flex;
}
#my_font_id{
  color: lightgreen;
  font-size: 28px;
  margin-left: 10px;
  text-shadow: 0 0 10px lightgreen,
               0 0 30px lightgreen,
               0 0 60px lightgreen;
animation: heading 15s infinite;
display: flex;
}
@keyframes heading{
0%{
color: red;
text-shadow: 0 0 10px red,
               0 0 30px red,
               0 0 60px red;
}
30%{
color: magenta;
text-shadow: 0 0 10px  magenta,
               0 0 30px  magenta,
               0 0 60px  magenta;
}
85%{
color: blue;
text-shadow: 0 0 10px  blue,
               0 0 30px blue,
               0 0 60px  blue;
}
 }
p{
color: lightgreen;
font-size: 35px;
margin-left: 10px;
height:35px;
text-shadow: 0 0 10px lightgreen,
               0 0 30px lightgreen,
               0 0 60px lightgreen;
animation: paragraph 15s infinite;
display: flex;
}
@keyframes paragraph{
0%{
color: red;
text-shadow: 0 0 10px red,
               0 0 30px red,
               0 0 60px red;
}
30%{
color: magenta;
text-shadow: 0 0 10px  magenta,
               0 0 30px  magenta,
               0 0 60px  magenta;
}
85%{
color: blue;
text-shadow: 0 0 10px  blue,
               0 0 30px blue,
               0 0 60px  blue;
}
 }
